#movie-info {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}

#movie-info img {
  margin: 3em;
}

#movie-info .list-group {
  list-style-type: none;
  text-align: center;
  font-size: 1.25em;
  margin: 3em;
}

.list-group-item-dede {
  background-color: #dedede;
  padding: 0.75em;
}

.list-group-item-eaea {
  background-color: #eaeaea;
  padding: 0.75em;
}

.header {
  font-size: 1.35em;
}

.text {
  margin-top: 0.5em;
}
