* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Navbar {
  background-color: rgb(25, 75, 150);
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#Navbar #Cart:focus {
  outline: none;
}

#Navbar #Cart {
  margin: 20em;
  padding: 0.25em;
  position: relative;
}

#Navbar #Cart .menu {
  background-color: rgb(231, 231, 231);
}

#Navbar #Cart .fa-shopping-cart {
  font-size: 35px;
}

#Navbar #Cart .amount {
  position: absolute;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 14px;
  width: 17px;
  height: 22px;
  left: 6px;
  bottom: 6px;
}

#Navbar #Cart .cart-list {
  margin: 1em;
  text-align: center;
}

#Navbar #Cart .cart-list .name {
  margin: 0.5em 1em auto 1em;
}

#Navbar #Cart .cart-list .price {
  margin-bottom: 0.5em;
  margin-left: 1em;
  font-weight: 600;
}

#Navbar #Cart .totalPrice {
  margin: auto 1em;
  font-weight: 700;
  text-align: center;
}

#Footer {
  background-color: rgb(25, 75, 150);
  height: 5em;
  width: 100%;
  margin-top: 10em;
}

#Main {
  display: flex;
}

#Sidebar .header {
  text-align: center;
  margin-top: 4em;
}

#Sidebar .category-map {
  margin: 2em 5em auto 5em;
  width: 250px;
  height: 100%;
  font-size: 18px;
}

#Sidebar .category-map .link {
  text-decoration: none;
}

#Sidebar .category-map .category-list {
  display: flex;
  list-style-type: none;
  color: black;
  margin: 0.25em;
  background-color: rgb(224, 224, 224);
}

#Sidebar .category-map .category-list:hover {
  background-color: rgb(240, 240, 240);
}

#Sidebar .category-map .category-list:focus {
  background-color: rgb(255, 255, 255);
  outline: none;
  border-top: 2px solid rgba(255, 185, 56, 0.842);
  border-bottom: 2px solid rgba(255, 185, 56, 0.842);
  color: rgba(255, 185, 56, 0.842);
}

#Sidebar .category-map .category-list .fa-angle-right {
  margin-left: 0.5em;
  margin-top: 0.25em;
}

#Sidebar .category-map .category-list .item {
  margin-left: 0.75em;
}

#Header {
  position: absolute;
  width: 500px;
  text-align: center;
  top: 3em;
  left: 17em;
}

#Products {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5em 15em 5em auto;
}

#Products .menu-card {
  padding: 0.5em;
  margin: 1em;
  height: 400px;
  width: 300px;
  align-items: center;
}

#Products .menu-cards .menu-image {
  width: 200px;
  border-radius: 3px;
}

#Products .menu-cards .btn {
  margin-top: 1em;
}

#Products .menu-cards .amountButton {
  padding: 2px 8px;
  border-radius: 5px;
}

#Products .menu-cards .decrement {
  background-color: red;
  color: white;
}

#Products .menu-cards .decrement:hover {
  background-color: rgba(253, 14, 14, 0.836);
}

#Products .menu-cards .decrement:active {
  background-color: rgba(255, 20, 20, 0.74);
}

#Products .menu-cards .increment {
  background-color: green;
  color: white;
}

#Products .menu-cards .increment:hover {
  background-color: rgba(14, 129, 14, 0.829);
}

#Products .menu-cards .increment:active {
  background-color: rgba(20, 134, 20, 0.747);
}

#Products .menu-cards .amount {
  margin: 10px;
  font-size: 1.25em;
}
